* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    background-color: #6c6c6c;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile h1 {
    margin-top: 10px;
    font-size: 2.5rem;
}

.profile p {
    margin: 10px 0;
}

.profile .subtext {
    font-size: 1rem;
    color: #ede2e2;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 24px;
    height: 24px;
}

.gallery {
    padding: 20px 0;
}

.gallery h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #555 ;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
    transition: transform 0.3s;
    display: block ;
    flex-direction: column;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0 0 5px 5px;
    resize: none;
    background-color: rgb(255, 207, 216);
    color: #fff;
}

.contact-form {
    padding: 20px 0;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f4b400;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #db9e00;
}

.queries {
    padding: 20px 0;
    background-color: #444;
    text-align: center;
}

.queries h2 {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

footer p {
    color: #aaa;
}
